<template id="btns_pr_temp">
  <a
    href="#pr_url"
    data-tooltip=""
    data-id="id_nt_94"
    rel="nofollow"
    class="pr-item-btn pr-quickview"
    data-action-quickview
  >
    <span class="svg-pr-icon">
      <svg viewBox="0 0 24 24">
        <use href="#icon-qv"></use>
      </svg>
    </span>
    <span class="text-pr">Quick view</span>
  </a>
  [split_nt]
  <a
    href="#pr_url"
    data-tooltip=""
    data-id="id_nt_94"
    data-handle="handle_nt_94"
    rel="nofollow"
    class="pr-item-btn pr-compare"
    data-action-compare
  >
    <span class="svg-pr-icon">
      <svg class="svg-cp" viewBox="0 0 24 24">
        <use href="#icon-cp"></use>
      </svg>
    </span>
    <span class="text-pr">Compare</span>
  </a>
  [split_nt]
  <a
    href="#pr_url"
    data-tooltip=""
    data-id="id_nt_94"
    rel="nofollow"
    class="pr-item-btn pr-wishlist"
    data-action-wishlist
  >
    <span class="svg-pr-icon">
      <svg viewBox="0 0 24 24">
        <use href="#icon-wis"></use>
      </svg>
    </span>
    <span class="text-pr">Add to Wishlist</span>
  </a>
  [split_nt]
  <a
    href="#pr_url"
    data-atc-selector
    data-tooltip=""
    data-id="id_nt_94"
    rel="nofollow"
    class="pr-item-btn pr-addtocart"
    dat-qty="1"
  >
    <span class="svg-pr-icon">
      <svg viewBox="0 0 24 24">
        <use href="#icon-atc"></use>
      </svg>
    </span>
    <span class="text-pr">Add to cart</span>
  </a>
  [split_nt]
  <div data-quantity-wrapper class="quantity-wrapper quantity-pr-item">
    <button data-quantity-selector data-decrease-qty type="button" class="quantity-selector is--minus">
      <svg focusable="false" class="icon icon--minus" viewBox="0 0 10 2" role="presentation">
        <path d="M10 0v2H0V0z" fill="currentColor"></path>
      </svg>
    </button>
    <input
      data-quantity-value
      type="number"
      class="quantity-input"
      step="1"
      min="1"
      max="9999"
      name="quantity"
      value="1"
      size="4"
      pattern="[0-9]*"
      inputmode="numeric"
    >
    <button data-quantity-selector data-increase-qty type="button" class="quantity-selector is--plus">
      <svg focusable="false" class="icon icon--plus" viewBox="0 0 10 10" role="presentation">
        <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</template>
