<link rel="stylesheet" href="{{ 'mobile_nav.css' | asset_url }} " media="print" onload="this.media='all'">
<div id="menu-drawer" class="drawer drawer__left d-lg-none" aria-hidden="true">
  <div class="l-element ske-h-50 ske-mb-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-mrl-20 ske-shine"></div>
</div>
<button class="drawer-menu__close pointer-events-none opacity-0 fixed" data-drawer-close aria-label="Close menu, categories">
  <svg class="iconsvg-close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
  </svg>
</button>