<div
  data-cart-wrapper
  id="mini_cart"
  data-ccount="0"
  class="drawer drawer__right dn"
  aria-hidden="true"
>
  <div class="skeleton-element ske-h-50 ske-mt-15 ske-mb-20 ske-mrl-15 ske-shine"></div>
  <div class="ske-mb-20"></div>
  <div class="ske-mb-20"></div>
  <div class="ske-mb-20"></div>
  <div class="text-center">
    <div class="skeleton-element ske-shine ske-w-50 ske-mb-10 ske-h-20 d-inline-block"></div>
    <div class="skeleton-element ske-shine ske-w-50 ske-mb-0 ske-h-40 d-inline-block"></div>
  </div>
</div>
