<link
  href="{{ 'search-hidden.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
>
<div data-predictive-search data-sid="search-hidden" id="search-hidden" class="drawer drawer__right" aria-hidden="true">
  <div class="skeleton-element ske-h-50 ske-mt-20 ske-mb-20 ske-shine ske-mrl-20 ske-mt-15"></div>
  <div class="skeleton-element ske-h-50 ske-mrl-20"></div>
  <div class="skeleton-element ske-h-50 ske-mrl-20 ske-shine"></div>
  <div class="skeleton-element ske-h-50 ske-mrl-20"></div>
  <div class="skeleton-element ske-h-50 ske-mrl-20 ske-shine"></div>
</div>
