<template id="temp_modal">
  <div class="modal" aria-hidden="false" tabindex="-1" role="dialog">
      <div class="modal__inner">
          <div class="modal__content"></div>
          <button data-ts-modal-close title="Close" type="button" class="modal-close">
              <svg class="modal-icon-close" role="presentation" viewBox="0 0 16 14">
                  <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
              </svg>
          </button>
      </div>
  </div>
</template>