{
  "extends": ["stylelint-config-recommended", "stylelint-prettier/recommended"],
  "rules": {
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "color-no-invalid-hex": true,
    "block-no-empty": true,
    "unit-no-unknown": true,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "-webkit-appearance",
          "-moz-appearance",
          "-ms-appearance",
          "-webkit-transform",
          "-moz-transform",
          "-ms-transform",
          "scroll-snap-type",
          "scroll-behavior"
        ]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "v-deep",
          "-webkit-input-placeholder",
          "-moz-placeholder",
          "-ms-input-placeholder"
        ]
      }
    ],
    "no-duplicate-selectors": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "comment-no-empty": true,
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": [
          "appearance",
          "transform",
          "transition",
          "animation",
          "user-select"
        ]
      }
    ],
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": [
      true,
      {
        "ignoreValues": ["grab", "grabbing", "pinch-zoom"]
      }
    ],
    "function-url-quotes": "never",
    "max-nesting-depth": 4,
    "selector-max-specificity": "0,4,0",
    "declaration-no-important": true,
    "alpha-value-notation": "number",
    "color-function-notation": "modern",
    "selector-max-type": 3,
    "selector-max-compound-selectors": 4,
    "no-descending-specificity": null
  },
  "ignoreFiles": [
    "node_modules/**/*",
    "assets/*.min.css",
    "assets/*.min.js",
    "reports/**/*",
    "dist/**/*",
    "**reports/**"
  ]
}
