<div id="shopify-section-extras" class="shopify-section section-extras section-admn2-fixed">
  <template id="inactive_tab" class="d-none">{{ section.settings.in_active_tab_title }}</template>
  <script src="{{ 'inactiveTab.js' | asset_url }}" defer="defer"></script>
</div>

{% schema %}
  {
    "name": "Inactive Tab Section",
    "settings": [
      {
        "type": "text",
        "id": "in_active_tab_title",
        "label": "In Active Tab",
        "default": "{ 'message': ['🔥 Don't forget this...',' 🔥 Come back!'],'delay': 1000 }"
      }
    ],
    "presets": [
      {
        "name": "Default",
        "category": "Inactive Tab Section"
      }
    ]
  }
{% endschema %}