.btn-languages-sidebar,
.btn-currencies-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -22px;
  right: 0;
  color: var(--text-color) !important;
  background-color: var(--ts-body-background) !important;
  box-shadow: #0000002b 0 0 5px;
  z-index: 104;
  min-width: 85px;
  max-width: 200px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.btn-currencies-sidebar {
  margin-top: 30px;
}

.btn-languages-sidebar span,
.btn-currencies-sidebar span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-languages-sidebar svg,
.btn-currencies-sidebar svg {
  width: 9px;
  min-width: 9px;
  margin-inline-start: 5px;
}

.btn-languages-sidebar svg {
  position: relative;
  top: 1px;
}

#drawer-currency-fixed [data-flags],
#drawer-languages-fixed [data-flags] {
  width: 100%;
  padding: 13px 20px;
  text-align: start;
  color: var(--text-color);
  background-color: var(--ts-body-background);
  border-bottom: 1px solid rgba(var(--text-color-rgb), 0.2);
}

#drawer-currency-fixed [data-flags].is--selected,
#drawer-languages-fixed [data-flags].is--selected {
  color: var(--accent-color);
  background-color: rgba(var(--text-color-rgb), 0.1);
}

@media (max-width: 1024px) {
  [data-currency-pos="2"],
  [data-lang-pos="2"] {
    display: none;
  }
}

@media (max-width: 767px) {
  #drawer-currency-fixed .drawer__header span,
  #drawer-languages-fixed .drawer__header span {
    font-size: 14px;
  }
}

@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {
  #drawer-currency-fixed [data-flags]:hover,
  #drawer-languages-fixed [data-flags]:hover {
    background-color: rgba(var(--text-color-rgb), 0.1);
  }
}
