.ins-item .ratio img {
  transition: 0.3s;
}

.ins-item:hover .ratio img {
  transform: scale(1.05);
}

.lookbook-pin:hover {
  opacity: 0.8;
  color: var(--cl-pin);
}

.lookbook-pin {
  border-radius: 50px;
  position: absolute;
  top: var(--ps-top);
  left: var(--ps-left);
  opacity: 1;
  pointer-events: auto;
  transform: translate(calc(-1 * var(--ps-left)), calc(-1 * var(--ps-top)));
  z-index: 2;
  cursor: pointer;
}

.lookbook-pin .zoompin {
  position: absolute;
  inset: -8px -8px -8px -8px;
  display: block;
  -webkit-animation: zoompin 2s ease infinite;
  animation: zoompin 2s ease infinite;
  border-radius: 50%;
  backface-visibility: hidden;
  perspective: 800px;
  background-color: #ffffff80;
  pointer-events: none;
}

.pin__popup .pr-style6 .product-info__inner {
  margin-bottom: 0;
}

@keyframes zoompin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }

  50% {
    opacity: 0.8;
  }

  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoompin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }

  50% {
    opacity: 0.8;
  }

  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ins-pin.lookbook-pin {
  width: 30px;
  height: 30px;
}

.hotspot-ins {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  padding: 0;
  backface-visibility: hidden;
  width: 30px;
  line-height: 26px;
  height: 30px;
  font-size: 14px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  text-shadow: none;
  font-weight: 600;
  overflow: hidden;
  transition:
    transform 0.2s ease-out,
    opacify 0.2s ease-out;
  opacity: 1;
  top: 0;
  left: 0;
  position: absolute;
}

.hotspot-ins.hotspot-dark {
  border-color: #eee;
  background-color: #000;
  color: #fff;
}

.lb-pr-wrapper,
.lb-txt-wrapper {
  background-color: #fff;
  position: absolute;
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 20px #0003;
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity, visibility;
  border-radius: 5px;
}

.lb-arrow {
  background-color: #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
}

.pin__popup h3.product-title {
  font-size: 14px;
}

.lb-txt-wrapper .lb-title {
  color: var(--heading-color);
  margin-bottom: 5px;
  font-weight: 600;
}

.lb-content p {
  margin-bottom: 0;
}

.pr_border_style_2 .lb-pr-wrapper .product .product-inner,
.pr_border_style_3 .lb-pr-wrapper .product {
  box-shadow: none;
}

.ins-wrap .ratio {
  border-radius: var(--br-rdu);
  overflow: hidden;
}

.lookbook-pin .hotspot-ins:after {
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid rgb(255 255 255 / 0.3);
  border-left-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.lookbook-pin .hotspot-ins.hotspot-light:after {
  border: 1px solid rgb(0 0 0 / 0.3);
  border-left-color: #222;
}

.lookbook-pin.is--loading .hotspot-ins:after {
  opacity: 1 !important;
  -webkit-animation: 0.45s linear infinite spin;
  animation: 0.45s linear infinite spin;
}

.lookbook-pin.is--loading .hotspot-ins {
  font-size: 0;
}
