.lm-bar--txt {
  font-size: 15px
}

.lm-bar--progress {
  display: block;
  margin: 15px auto 20px;
  width: 250px;
  height: 4px;
  background-color: var(--border-color);
  border-radius: 5px
}

.text-start .lm-bar--progress {
  margin-left: 0
}

.text-end .lm-bar--progress {
  margin-right: 0
}

.lm-bar--progress .lm-bar--current {
  width: 0;
  will-change: width;
  -webkit-transition: width .3s cubic-bezier(.19, 1, .22, 1);
  transition: width .3s cubic-bezier(.19, 1, .22, 1)
}

.lm-bar.btn-color-light .lm-bar--progress {
  box-shadow: 0 0 2px var(--border-color)
}

.lm-bar.btn-color-light .lm-bar--current {
  background: linear-gradient(to right, var(--ts-light-color), var(--accent-color))
}

.lm-bar.btn-color-dark .lm-bar--current {
  background: linear-gradient(to right, var(--ts-dark-color), var(--accent-color))
}

.lm-bar.btn-color-primary .lm-bar--current {
  background: transparent;
  background: linear-gradient(to right, var(--accent-color), var(--accent-color-hover))
}

.lm-bar.btn-color-custom1 .lm-bar--current,
.lm-bar.btn-color-custom2 .lm-bar--current {
  background-color: var(--btn-background);
  background: linear-gradient(to right, var(--btn-background), var(--btn-background-hover))
}

.product a.is--loading:before {
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: currentColor;
  border-top-color: transparent;
  border-radius: 100%;
  opacity: 1;
  -webkit-animation: .45s linear infinite spin;
  animation: .45s linear infinite spin;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  content: ""
}

.product .product-btns a.is--loading,
.product .product-btns2 a.is--loading {
  pointer-events: none
}

.product .product-btns a.is--loading>span,
.product .product-btns2 a.is--loading>span {
  opacity: 0;
  visibility: hidden
}

.product a.pr-wishlist.is--loading,
.css_for_wis_app_true .product .pr-wishlist.is--loading {
  --border-cl: var(--wishlist-cl)
}

.product .pr-compare.is--loading {
  --border-cl: var(--compare-cl)
}

.product .pr-quickview.is--loading {
  --border-cl: var(--quickview-cl)
}

.product .pr-addtocart.is--loading {
  --border-cl: var(--atc-cl)
}

.pagination-wrapper .loadmore-btn>span {
  display: flex;
  align-items: center
}

.pagination-wrapper .loadmore-btn.is--loading {
  pointer-events: none;
  transition: .5s ease 0s
}

.pagination-wrapper .loadmore-btn.is--loading>span,
.pagination-wrapper .loadmore-btn.is--loading .btn-icon {
  opacity: 0;
  visibility: hidden
}

.pagination-wrapper .loadmore-btn .btn-icon {
  width: 16px;
  height: 28px;
  fill: currentColor
}

.pagination-wrapper .loadmore-btn .loadmore-icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: .5s ease 0s;
  max-width: 78px
}

.pagination-wrapper .loadmore-btn.is--loading .loadmore-icon {
  opacity: 1;
  visibility: visible
}

body .content--loading {
  pointer-events: none;
  position: relative
}

body .content--loading>* {
  opacity: .5
}

body .content--loading:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-color: var(--accent-color);
  border-top-color: #fff;
  border-radius: 100%;
  opacity: 1;
  -webkit-animation: .45s linear infinite spin;
  animation: .45s linear infinite spin;
  z-index: 20;
  top: 20%;
  right: 0;
  left: 0;
  margin: auto
}

.prs-footer.has-btn-none,
.flicky-slider+.prs-footer.has-btn-load-more {
  display: none
}