.page_cart__img {
  min-width: 120px;
  max-width: 120px;
  display: block;
}

.cartPage__form dd,
.cartPage__form dl {
  margin: 0;
}

.main-cart {
  margin-top: 60px;
}

.cartPage__header {
  font-size: 14px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 0 6px;
}

.page_cart__item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

.cartPage__items .page_cart__item:last-child {
  border-bottom: 1px solid var(--border-color);
}

.page_cart__item .cart-item-price {
  color: var(--secondary-color);
  font-weight: 500;
}

.page_cart__info {
  margin-left: 15px;
}

.main-cart .page_cart__title {
  font-size: 14px;
  line-height: 20px;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.main-cart .page_cart__title:hover {
  color: var(--accent-color);
}

.page_cart__tools {
  margin-top: 10px;
}

.page_cart__tools .page_cart__edit,
.page_cart__tools .page_cart__remove {
  display: inline-flex;
  margin-right: 10px;
  color: var(--secondary-color);
}

.page_cart__tools .page_cart__edit svg,
.page_cart__tools .page_cart__remove svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
}

.page_cart__meta {
  font-size: 13px;
  color: var(--text-color);
}

.cart_meta_variant {
  margin-bottom: 5px;
}

.cart_meta_price {
  font-size: 14px;
}

.cart_meta_prices del,
.cart_meta_price del {
  color: var(--product-price-color);
}

.cart_meta_prices ins,
.cart_meta_price ins {
  color: var(--product-price-sale-color);
  margin-left: 6px;
  display: inline-block;
}

input[type="checkbox"][data-agree-checkbox] {
  display: none;
}

input[type="checkbox"][data-agree-checkbox] + label:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: 1px solid var(--border-color);
  background: var(--ts-color-light);
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.2s ease-in-out;
  position: relative;
  top: 3px;
}

input[type="checkbox"][data-agree-checkbox] ~ svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--ts-light-color);
  position: absolute;
  top: 4px;
  left: 2px;
  pointer-events: none;
  transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

input[type="checkbox"][data-agree-checkbox]:checked + label:before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

input[type="checkbox"][data-agree-checkbox]:checked ~ svg {
  transform: scale(1);
  -webkit-transform: scale(1);
}

.main-cart .quantity-cart-item input[type="number"] {
  -moz-appearance: textfield;
  width: 35px;
  border: 0;
  height: 38px;
  background: 0 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary-color);
  text-align: center;
}

.main-cart .quantity-cart-item button {
  position: absolute;
  display: block;
  padding: 0;
  top: 0;
  width: 30px;
  height: 40px;
  line-height: 40px;
  border: 0;
  background: 0 0;
  color: var(--secondary-color);
}

.main-cart .quantity-cart-item button:hover {
  color: var(--accent-color);
  border: 0;
  background: 0 0;
}

.main-cart .quantity-cart-item {
  min-width: 120px;
  width: 120px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  text-align: center;
  border-radius: 40px;
  display: block;
  margin-bottom: 15px;
  position: relative;
  margin: 0 auto;
}

.main-cart .quantity-cart-item svg {
  width: 12px;
  height: 12px;
  stroke-width: 2;
}

.main-cart .quantity-cart-item .is--minus {
  left: 0;
  text-align: left;
  padding-left: 15px;
}

.main-cart .quantity-cart-item .is--plus {
  right: 0;
  text-align: right;
  padding-right: 15px;
}

.cartPage__footer {
  margin-top: 60px;
  margin-bottom: 80px;
}

.cartPage__footer .cart__thres3 {
  color: var(--secondary-color);
}

.gift_wrap {
  margin-bottom: 25px;
}

.gift_wrap_info svg {
  top: 4px;
  color: var(--secondary-color);
}

.gift-wrap__text {
  margin: 10px 5px;
}

.gift-wrap__text span {
  color: var(--secondary-color);
}

.gift_wrap_action_btn {
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  padding: 5px 25px;
  color: var(--secondary-color);
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  min-height: 40px;
  display: inline-block;
  background: 0 0;
}

.gift_wrap_action_btn:hover {
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  color: var(--ts-light-color);
}

.cart-note__label {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.cart-couponcode__label {
  color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.cart-total {
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--secondary-color);
  font-size: 18px;
}

.cart__ttprice {
  font-size: 20px;
  font-weight: 500;
}

.cart__originalPrice,
.cart__discountPrice {
  font-size: 16px;
}

.cart__totalPrice {
  font-weight: 600;
  text-align: right;
}

.main-cart .btn__checkout {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.25s ease-in-out !important;
  font-weight: 600;
  min-height: 40px;
  padding: 5px 25px;
  min-width: 280px;
}

.main-cart .btn__checkout svg.btn-icon {
  --btn-size: 14px;
}

.main-cart .cart__tax {
  margin-bottom: 5px;
}

.main-cart .cart__agree {
  margin-bottom: 0;
  display: inline-block;
}

.main-cart .cart_discounts {
  padding-left: 0;
  font-weight: 500;
  color: var(--ts-highlight-color);
  margin-bottom: 0;
}

.main-cart .field {
  margin-bottom: 20px;
}

.main-cart .response__rates p,
.main-cart .mess__rates.is--rates-success {
  margin-bottom: 14px;
  color: var(--secondary-color);
}

.main-cart .mess__rates.is--rates-error,
.main-cart .results__rates ul {
  list-style: disc;
  font-size: 14px;
  list-style-position: inside;
  margin-bottom: 0;
}

.main-cart .cookie-message {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(var(--border-color-rgb), 0.8);
  color: var(--secondary-color);
}

.main-cart .cat__imgtrust {
  margin-top: 10px;
}

.order_cart_discounts svg {
  width: 14px;
  height: auto;
  fill: currentColor;
  position: relative;
  top: 2px;
}

#CartSpecialInstructions {
  min-height: 100px;
  color: var(--secondary-color);
  padding: 8px 10px;
  width: 100% !important;
  resize: none;
}

.main-cart
  input:not([type="submit"]):not([type="checkbox"]):not([type="number"]),
.main-cart select,
.main-cart textarea {
  border: 1px solid var(--border-color);
  font-size: 13px;
  outline: 0;
  padding: 0 15px;
  color: var(--text-color);
  max-width: 100%;
  width: 100%;
  height: 40px;
  line-height: 18px;
  transition: border-color 0.5s;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-cart select {
  padding: 0 30px 0 15px;
  vertical-align: middle;
  font-size: 14px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==);
  background-position: right 10px top 50%;
  background-size: auto 18px;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: transparent;
  color: var(--secondary-color);
  border-radius: 30px;
}

.main-cart input:not([type="submit"]):not([type="checkbox"]):focus,
.main-cart textarea:focus {
  border-color: var(--secondary-color);
}

.main-cart input::placeholder {
  color: currentcolor;
  opacity: 1;
}

.main-cart input:input-placeholder {
  color: currentcolor;
}

.main-cart input::input-placeholder {
  color: currentcolor;
}

.shipping_calculator {
  position: relative;
  border: 1px solid var(--border-color);
  padding: 50px 30px;
  margin-bottom: 50px;
}

.shipping_calculator h3 {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0 14px 0 18px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: var(--ts-light-color);
  white-space: nowrap;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
}

.shipping_calculator .field:last-child {
  margin-bottom: 0;
}

.main-cart .shipping_calculator input[type="text"],
.main-cart .shipping_calculator select {
  border-radius: 30px;
}

.main-cart .get__rates {
  cursor: pointer;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  padding: 6px 35px;
  color: var(--ts-light-color);
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  min-height: 40px;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.main-cart .get__rates:hover {
  opacity: 0.8;
}

.mini_cart__emty {
  margin: 80px 0 140px 0;
}

@media (min-width: 641px) {
  .mini_cart__emty {
    margin: 140px 0 200px 0;
  }
}

.mini_cart__emty svg#icon-cart-emty {
  width: 90px;
  height: auto;
  fill: currentColor;
  margin-bottom: 30px;
}

.main-cart .mini_cart__emty .cart__threshold {
  font-size: 14px;
  padding: 8px 20px;
}

.cart_page_heading {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.cart_page_txt {
  margin-bottom: 30px;
}

.main-cart .cart__threshold {
  border-bottom: 0;
  box-shadow: none;
  padding: 10px 0 4px 20px;
}

.main-cart .btn-cart__emty {
  max-width: 100%;
  min-width: 180px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  min-height: 40px;
  padding: 5px 25px;
  cursor: pointer;
}

.main-cart .btn-cart__emty svg.btn-icon {
  --btn-size: 14px;
}

.page_cart__item.is--gift .quantity-cart-item,
.page_cart__item.is--gift .page_cart__edit {
  display: none;
}

.main-cart .cart-ld__bar[hidden] > span {
  transform: scale(0.4);
  opacity: 0;
  visibility: hidden;
}

.main-cart .cart-ld__bar > span {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: var(--ts-light-color);
  color: var(--text-color);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

.main-cart .cart-ld__bar,
.main-cart .cart-ld__bar > span {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.main-cart .cart-ld__bar .svg-spinner {
  width: 16px;
}

.main-cart .cart-ld__bar svg[hidden] {
  display: none !important;
}

.cartPage__form:before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  opacity: 0;
  z-index: 4;
  background-color: var(--ts-light-color);
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.cartPage__form.is--contentUpdate:before {
  opacity: 0.4;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .main-cart [type="submit"] {
    width: auto;
  }

  .main-cart .btn__checkout {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .cartPage__header {
    display: none;
  }

  .cartPage__items .page_cart__item:not(:first-child) {
    margin-top: 20px;
  }

  .page_cart__item {
    padding-top: 0;
    padding-bottom: 15px;
    border: 1px solid var(--border-color);
  }

  .cartPage__items .page_cart__item .row > :first-child {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 15px;
  }

  .cartPage__items .page_cart__info {
    padding: 10px 5px 10px 0;
  }

  .main-cart .cat__imgtrust .cat__imgtrust_ratio {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .cartPage__items .page_cart__item:not(:first-child) {
    margin-top: 0;
    padding-top: 25px;
  }

  .cartPage__items .page_cart__item,
  .cartPage__items .page_cart__item:last-child {
    border: 0;
    border-bottom: 1px solid rgba(var(--border-color-rgb), 0.8);
    padding-bottom: 20px;
  }

  .cartPage__items .page_cart__item > .row {
    padding-top: 5px;
    padding-left: 140px;
    position: relative;
    min-height: 136px;
  }

  .cartPage__items .page_cart__item .row > :first-child {
    position: static;
    border: 0;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dashed rgba(var(--border-color-rgb), 0.8);
  }

  .page_cart__item .page_cart__infos > a {
    position: absolute;
    left: 5px;
    top: 0;
  }

  .cartPage__items .page_cart__info {
    margin-left: 0;
    padding: 0;
  }

  .page_cart__item .cart_meta_prices,
  .page_cart__item .page_cart__actions {
    border-bottom: 1px dashed rgba(var(--border-color-rgb), 0.8);
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  .main-cart .quantity-cart-item {
    margin: 0;
  }

  .main-cart .cart__threshold {
    padding: 25px 0;
  }
}
