.section-inner {
  margin: var(--mg-top) var(--mg-right) var(--mg-bottom) var(--mg-left);
  padding: var(--pd-top) var(--pd-right) var(--pd-bottom) var(--pd-left);
}

.section-inner:not(.se-container),
.container > .container-inner {
  background: var(--bg-gradient);
  background-color: var(--bg-color);
}

.section-inner.has-imgbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-fluid {
  width: calc(100% - var(--mg-left, 0) - var(--mg-right, 0));
}

.section-inner.se-container {
  padding: 0 0 0 0;
}

.section-inner.se-container .container-inner {
  padding: var(--pd-top) var(--pd-right) var(--pd-bottom) var(--pd-left);
}

.custom-line {
  width: var(--width);
  border-width: var(--height);
  border-style: var(--line-style);
  border-color: var(--line-cl);
  border-top: none;
  border-right: none;
  border-left: none;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 1024px) {
  .container-fluid {
    width: calc(100% - var(--mgtb-left, 0) - var(--mgtb-right, 0));
  }

  .section-inner {
    margin: var(--mgtb-top) var(--mgtb-right) var(--mgtb-bottom)
      var(--mgtb-left);
    padding: var(--pdtb-top) var(--pdtb-right) var(--pdtb-bottom)
      var(--pdtb-left);
  }
}

@media (max-width: 767px) {
  .container-fluid {
    width: calc(100% - var(--mgmb-left, 0) - var(--mgmb-right, 0));
  }

  .section-inner {
    margin: var(--mgmb-top) var(--mgmb-right) var(--mgmb-bottom)
      var(--mgmb-left);
    padding: var(--pdmb-top) var(--pdmb-right) var(--pdmb-bottom)
      var(--pdmb-left);
  }
}
