.section-inner {
  margin-top: var(--mg-top);
  margin-inline: var(--mg-left) var(--mg-right);
  margin-bottom: var(--mg-bottom);
  padding-top: var(--pd-top);
  padding-inline: var(--pd-left) var(--pd-right);
  padding-bottom: var(--pd-bottom);
}

.section-inner:not(.se-container),
.container > .container-inner {
  background: var(--bg-gradient);
  background-color: var(--bg-color);
}

.container-inner .has-imgbg,
.section-inner .has-imgbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-inner .se-container {
  padding-top: 0;
  padding-inline: 0 0;
  padding-bottom: 0;
}

.section-inner .se-container .container-inner {
  padding-top: var(--pd-top);
  padding-inline: var(--pd-left) var(--pd-right);
  padding-bottom: var(--pd-bottom);
}

.custom-line {
  width: var(--width);
  border-width: var(--height);
  border-style: var(--line-style);
  border-color: var(--line-cl);
  border-top: none;
  border-right: none;
  border-left: none;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 1024px) {
  .section-inner .se-container .container-inner,
  .section-inner {
    margin-top: var(--mgtb-top);
    margin-inline: var(--mgtb-left) var(--mgtb-right);
    margin-bottom: var(--mgtb-bottom);
    padding-top: var(--pdtb-top);
    padding-inline: var(--pdtb-left) var(--pdtb-right);
    padding-bottom: var(--pdtb-bottom);
  }
}

@media (max-width: 767px) {
  .section-inner .se-container .container-inner,
  .section-inner {
    margin-top: var(--mgmb-top);
    margin-inline: var(--mgmb-left) var(--mgmb-right);
    margin-bottom: var(--mgmb-bottom);
    padding-top: var(--pdmb-top);
    padding-inline: var(--pdmb-left) var(--pdmb-right);
    padding-bottom: var(--pdmb-bottom);
  }
}
